#ifdef CONFIG_h
const char *name                = "WLAN NAME";
const char *passwd              = "WLAN PASSWORD";

const char mqtt_server[]        = "MQTT SERVER IP";
const char mqtt_username[]      = "MQTT USERNAME";
const char mqtt_password[]      = "MQTT PASSWORD";
#else
extern const char *name;
extern const char *password;
extern const char mqtt_server[];
extern const char mqtt_username[];
extern const char mqtt_password[];
#endif
